#hoved {
    position: absolute;
    background: url(bilder/bakgrunn.jpg);
    background-size: cover;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0%;
    text-decoration: none;
    color: white;
    text-align: center;
}

ul {
    -webkit-padding-start: 0;
}

li {
  display: block;
  list-style-type: none;
}

li a {
    text-decoration: none;
    color:whitesmoke;
    display: block;
    margin: 8px;
    text-align: center;
    padding-top:10px;
    height: 2em;
    background: gray;  
    border-radius: 5px;
    box-shadow: 3px 3px 3px white;
    width: 200px; 
}

li a:hover {
   box-shadow: 1px 1px 1px white; 
}

li a:active {
    transform: translate(2px,2px); 
    box-shadow: none; 
 }

li a.showing {
    background: whitesmoke;
    color:gray;
}