#sky {
    background: linear-gradient(black, darkblue, lightblue, white);
    background-size: 1400 heipx;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(40px, auto);
}

.star {
    position: relative;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
}

#snow {
    width: 100%;
    height: 30em;
    background-image: url("snow.jpg");
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-y: -450px;
}

#santa {
    position: absolute;
    left: -200px;
    top: 50px;
    width: 50px;
    height: 20px;
    background-color: red; 
    animation: drive 3s alternate infinite;
}

#pakker {
    position: absolute;
    left: -200px;
    top: 100px;
    width: 20px;
    height: 10px;
    background-image: url("pakker.png"); 
    animation: pakker 3s infinite;
}

@keyframes drive{
    0% { left: -20%; }
    100% { left: 120%; }
}

@keyframes pakker{
    0% { left: -20%; }
    50% { left: 50%; }
    100% { left: 50%; bottom: 10%;}
}

#tree {
    position: absolute;
    left: 40%;
    right: 60%;
    bottom: 0;
}
