.animasjon {
    
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100px;
        height: 100px;
        background: url("brisk_walker.gif"); 
        background-size: contain;
        background-repeat: no-repeat;
        animation: gaaTur 10s linear infinite;
        z-index: -1;
    }
        
    @keyframes gaaTur {
        0% { top:90%; right: 0%; transform: rotate(90deg);}
        23% { top:0%; right: 0%; transform: rotate(90deg);}
        25% { top:0%; right: 0%;transform: rotate(90deg);}
        48% { top:0%; right: 100%;transform: rotate(180deg);}
        50% { top:0%; right: 100%;transform: rotate(1800deg);}
        75% { top: 10%; right: 2%;transform: rotate(270deg);}
        77% { top: 10%; right: 2%;transform: rotate(270deg);}
        96% { top: 82%; right: 2%;transform: rotate(-450deg);}
        100% { top: 82%; right: 2%;transform: rotate(-540deg);}
    }