#topptekst {
    position: absolute;
    background-color: #b1d7ec; 
    left: 0%;
    top: 0%;
    width: 100%;
    height: 15%;
    text-align: center;
    color: whitesmoke;
}

#topptekst div {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50px;
    height: 50px;
}

#hoved {
    position: absolute;
    left: 0%;
    top: 15%;
    width: 100%;
    height: 85%;
}

#bunntekst {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 3.5%;
    background-color: #b1d7ec;
    color: whitesmoke;
}

.grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #b1d7ec;
    left: 0%;
    top: 15%;
    height: 10%;
    width: 100%;
}

ul {
    -webkit-padding-start: 0;
}

li {
    display: block;
}

li a {
    text-decoration: none;
    color: #b1d7ec;
    display: block;
    text-align: center;
    padding-top: 10px;
    height: 2em;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px white; 
    border: solid 2px;
     
}

li a:hover {
    box-shadow: 2px 2px 2px #b1d7ec;
    color: white;
    background-color: #b1d7ec
}

li a:active {
    transform: translate(2px,2px);
    box-shadow: none;
}

li a.showing {
    background: #b1d7ec;
    color: white;
}